<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>defaults</key>
			<string>ca.menushka.hideyourapps.preferences.settings</string>
			<key>key</key>
			<string>enabled</string>
			<key>default</key>
			<true/>
			<key>label</key>
			<string>Enabled</string>
			<key>PostNotification</key>
			<string>ca.menushka.hideyourapps.preferences/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>GENERAL_HEADER</string>
			<key>footerText</key>
			<string>GENERAL_FOOTER</string>
			<key>isStaticText</key>
			<true/>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>bundle</key>
			<string>AppList</string>
			<key>isController</key>
			<string>1</string>
			<key>label</key>
			<string>Select apps to hide</string>
			<key>ALAllowsSelection</key>
			<string>1</string>
			<key>ALSettingsKeyPrefix</key>
			<string></string>
			<key>ALSettingsDefaultValue</key>
			<string>0</string>
			<key>ALSettingsPath</key>
			<string>/var/mobile/Library/Preferences/ca.menushka.hideyourapps.preferences.plist</string>
			<key>ALSingleEnabledMode</key>
			<false/>
			<key>ALChangeNotification</key>
			<string>ca.menushka.hideyourapps.preferences/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>action</key>
			<string>respring:</string>
			<key>label</key>
			<string>Respring</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>action</key>
			<string>reset:</string>
			<key>label</key>
			<string>Reset and Respring</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>SPECIAL_THANKS_HEADER</string>
			<key>footerText</key>
			<string>SPECIAL_THANKS_FOOTER</string>
			<key>isStaticText</key>
			<true/>
		</dict>
		<dict>
			<key>id</key>
			<string>twitter</string>
			<key>cellClass</key>
			<string>HBTwitterCell</string>
			<key>big</key>
			<true/>
			<key>height</key>
			<integer>56</integer>
			<key>label</key>
			<string>Blake Boxberger</string>
			<key>user</key>
			<string>blakeboxberger</string>
		</dict>
	</array>
	<key>title</key>
	<string>HideYourApps</string>
</dict>
</plist>
